body {
    background-color:rgb(21, 21, 21);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue;
}
form {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    }

input {
    padding: 10px;
    font-size: 16px;
    width:70%;
    background-color:rgb(30, 30, 30);
    color:rgb(161, 186, 186);
    font-weight: bolder;
    border-radius:12px;
    }